.discourse-view th {
    width: 25%;
}

.discourse-view .discourse-border-default {
    border: 1px solid #dee2e6;
}

.discourse-view .discourse-border-success {
    border: 1px solid #357a32 !important;
}

.discourse-view .discourse-btn-round {
    width: 2.3125rem !important;
    height: 2.3125rem !important;
    border-radius: 50% !important;
    padding: 0 !important;
}

.discourse-view .discourse-btn-round-small {
    width: 1.6rem !important;
    height: 1.6rem !important;
    border-radius: 50% !important;
    padding: 0 !important;
}

.discourse-view tr span > i {
    position: relative;
    top: -4px;
}