{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @copyright   2022 coactum GmbH
    @template discourse/discourse_groupview

    Group view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}

{{#js}}
{{/js}}

<div class="container-fluid">
    {{#group}}
        <div class="row">
            <h3 class="col-md-12 text-center">{{shortenednametwo}}</h3>
        </div>
        {{#phaseactive}}
            <div class="row">
                <strong class="col-md-12 text-center mb-1 text-warning">{{phaseactive}}</strong>
            </div>
        {{/phaseactive}}

        <div class="table-responsive">
            <table class="table table-striped table-hover generaltable generalbox">
                <thead>
                    {{#canviewgroupparticipants}}<th scope="col">{{#str}}groupparticipants, mod_discourse{{/str}}</th>{{/canviewgroupparticipants}}
                    <th scope="col">{{#str}}submissionstate, mod_discourse{{/str}}</th>
                    <th scope="col">{{#str}}currentversion, mod_discourse{{/str}}</th>
                    {{#caneditsubmission}}<th scope="col"></th>{{/caneditsubmission}}
                </thead>
                <tbody><tr>
                    {{#canviewgroupparticipants}}<td class="w-50">
                        {{#participants}} {{{profilelink}}},  {{/participants}}
                    </td>{{/canviewgroupparticipants}}
                    <td>
                        {{#submission.timecreated}}
                            {{^submission.timemodified}}{{#str}}submitted, mod_discourse{{/str}} {{#userdate}}{{submission.timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/submission.timemodified}}
                            {{#submission.timemodified}}{{#str}}updated, mod_discourse{{/str}} {{#userdate}}{{submission.timemodified}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/submission.timemodified}}
                        {{/submission.timecreated}}
                        {{^submission.timecreated}}{{#str}}notsubmitted, mod_discourse{{/str}} {{/submission.timecreated}}
                    </td>
                    <td>
                        {{#submission.id}}{{submission.currentversion}}{{/submission.id}}
                        {{^submission.id}}-{{/submission.id}}
                    </td>
                    {{#caneditsubmission}}<td>
                        {{#submission.id}}<button class="btn btn-primary pull-right" data-toggle="collapse" data-target=".collapseSubmissionForm" aria-expanded="false" aria-controls="collapseSubmissionForm">{{#str}}editsubmission, mod_discourse{{/str}}</button>{{/submission.id}}
                        {{^submission.id}}<button class="btn btn-primary pull-right" data-toggle="collapse" data-target=".collapseSubmissionForm" aria-expanded="false" aria-controls="collapseSubmissionForm">{{#str}}submitsubmission, mod_discourse{{/str}}</button>{{/submission.id}}
                    </td>{{/caneditsubmission}}
                </tr></tbody>
            </table>
        </div>
        {{#phasehint}}
            <h4 class="text-center"> {{#str}}phasehint, mod_discourse{{/str}}: </h4>
            <div class="w-100">{{phasehint}} </div><br>
        {{/phasehint}}
        {{#group.canviewformersubmissions}}
            {{#group.canhaveformersubmissions}}
                <h4 class="text-center m-2"> {{#str}}positionsfromlastphase, mod_discourse{{/str}}: </h4>
                <div class="d-flex flex-wrap w-100 p-b-2">
                    {{#group.formersubmissions}}
                        <div class="formersubmissions border border-secondary p-1">
                            <strong class="text-center">
                                {{#groupname}}{{{groupname}}} ({{{participants}}}):{{/groupname}}{{^groupname}}{{#str}}deletedgroup, mod_discourse{{/str}}{{/groupname}}
                            </strong><br><br>
                            {{#submission}}<span>{{{submission}}}</span>{{/submission}}
                            {{^submission}}<strong class="text-danger">{{#str}}nosubmission, mod_discourse{{/str}}</strong>{{/submission}}
                        </div>
                    {{/group.formersubmissions}}
                </div>
            {{/group.canhaveformersubmissions}}
        {{/group.canviewformersubmissions}}
        {{#submission.id}}
            <h4 class="text-center m-3">{{#str}}currentsubmission, mod_discourse{{/str}}:</h4>
            <div class="collapse show collapseSubmissionForm">
                <div class="w-100 mb-3">
                    {{{submission.submission}}}
                </div>
            </div>
        {{/submission.id}}
    {{/group}}

    {{#caneditsubmission}}
        <div class="collapse collapseSubmissionForm">
            {{{form}}}
        </div>
    {{/caneditsubmission}}

    <div class="d-flex justify-content-center mt-1">
        <a href="view.php?id={{cmid}}" role="button" class="btn btn-primary collapse show collapseSubmissionForm">{{#str}}backtooverview, mod_discourse{{/str}}</a>
    </div>
</div>